node_modules/
cache/
build/
typechain/
artifacts/
docs/
coverage*
.env
docs/

bnbcamp0322/node_modules/
bnbcamp0322/artifacts/
bnbcamp0322/cache/
bnbcamp0322/.env

bnbcamp0329/node_modules/
bnbcamp0329/artifacts/
bnbcamp0329/cache/
bnbcamp0329/.env
